PROJECTS_SERVICE_HOST=127.0.0.1
PROJECTS_SERVICE_PORT=4104
PROJECTS_DB_HOST=127.0.0.1
PROJECTS_DB_PORT=5546
PROJECTS_DB_NAME=projects_db
PROJECTS_DB_USER=projects_user
PROJECTS_DB_PASSWORD=projects_pass

JWT_SECRET=change-this-workbench-jwt-secret
JWT_ISSUER=workbench-core
INTERNAL_API_KEY=workbench-internal-projects