MINDMAPS_SERVICE_HOST=127.0.0.1
MINDMAPS_SERVICE_PORT=4106

MINDMAPS_DB_HOST=127.0.0.1
MINDMAPS_DB_PORT=5548
MINDMAPS_DB_NAME=mindmaps_db
MINDMAPS_DB_USER=mindmaps_user
MINDMAPS_DB_PASSWORD=mindmaps_pass

JWT_SECRET=change-this-workbench-jwt-secret
JWT_ISSUER=workbench-core
INTERNAL_API_KEY=workbench-internal-mindmaps
