ANALYSER_SERVICE_HOST=127.0.0.1
ANALYSER_SERVICE_PORT=4109

ANALYSER_DB_HOST=127.0.0.1
ANALYSER_DB_PORT=5551
ANALYSER_DB_NAME=analyser_db
ANALYSER_DB_USER=analyser_user
ANALYSER_DB_PASSWORD=analyser_pass

JWT_SECRET=change-this-workbench-jwt-secret
JWT_ISSUER=workbench-core
INTERNAL_API_KEY_ANALYSER=workbench-internal-analyser
