ARTIFACTS_SERVICE_HOST=127.0.0.1
ARTIFACTS_SERVICE_PORT=4102
ARTIFACTS_DB_HOST=127.0.0.1
ARTIFACTS_DB_PORT=5544
ARTIFACTS_DB_NAME=artifacts_db
ARTIFACTS_DB_USER=artifacts_user
ARTIFACTS_DB_PASSWORD=artifacts_pass
ARTIFACTS_STORAGE_DIR=../storage

JWT_SECRET=change-this-workbench-jwt-secret
JWT_ISSUER=workbench-core
INTERNAL_API_KEY=workbench-internal-artifacts
