NATIVE_APP_NAME=Workbench Native
NATIVE_APP_IDENTIFIER=com.workbench.desktop
NATIVE_WINDOW_TITLE=Workbench
NATIVE_WINDOW_WIDTH=1280
NATIVE_WINDOW_HEIGHT=860
NATIVE_DEV_URL=http://127.0.0.1:5173
NATIVE_FRONTEND_DIST=../../../ui/dist