CORE_SERVICE_HOST=127.0.0.1
CORE_SERVICE_PORT=4100

CORE_DB_HOST=127.0.0.1
CORE_DB_PORT=5542
CORE_DB_NAME=workbench_core_db
CORE_DB_USER=workbench_user
CORE_DB_PASSWORD=workbench_pass

JWT_SECRET=change-this-workbench-jwt-secret
JWT_ISSUER=workbench-core
JWT_EXPIRY_SECONDS=3600
OAUTH_CLIENT_METADATA_HOST_ALLOWLIST=

NOTES_SERVICE_URL=http://127.0.0.1:4101
ARTIFACTS_SERVICE_URL=http://127.0.0.1:4102
TASKS_SERVICE_URL=http://127.0.0.1:4103
PROJECTS_SERVICE_URL=http://127.0.0.1:4104

INTERNAL_API_KEY_NOTES=workbench-internal-notes
INTERNAL_API_KEY_ARTIFACTS=workbench-internal-artifacts
INTERNAL_API_KEY_TASKS=workbench-internal-tasks
INTERNAL_API_KEY_PROJECTS=workbench-internal-projects
